<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flights</title>
</head>
<body>
    <h1>Mongoose Flights</h1>
    <h2>All Flights</h2>
    <table>
        <thead>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Departs</th>
            <th>Airport</th>
            <th>Destination</th>
            <th>Details</th>
        </thead>
        <tbody>
            <% flights.forEach(function(flight){ %>
                <tr>
                    <td><%= flight.airline %></td>
                    <td><%= flight.flightNum %></td>
                    <td><%= flight.departs %></td>
                    <td><%= flight.airport %></td>
                    <td><%= flight.arrival %></td>
                    <td><%= flight.destination %></td>
                    <td><a href='/flights/<%= flight._id %>'>Flight Details</a></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <a href="/flights/new">Add Flight</a>
</body>
</html>